.table {
  border-spacing: 0;
  border: 1px solid var(--mantine-color-gray-4);
  border-radius: 8px;
  border-collapse: separate;
}
.table thead {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.table th {
  background-color: var(--mantine-color-gray-2);
  color: var(--mantine-color-gray-6);
  font-weight: 500 !important;
}

.table th:first-child {
  border-top-left-radius: 8px;
}
.table th:last-child {
  border-top-right-radius: 8px;
}

.table td {
  padding: 1.2rem 0.8rem !important;
}
