* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

/* Global classes */

.w-full {
  width: 100% !important;
}

.p-none {
  padding: 0 !important;
}
.block {
  display: block !important;
}

.bold {
  font-weight: 600;
}

.justify-self-end {
  justify-self: end;
}

.display-none {
  display: none !important;
}

.mt-auto {
  margin-top: auto !important;
}

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
